@import "../../vars";

.player-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  color: $white;
  background-color: $jeopardyBlue;

  .graded-answer {
    &.points-change-positive {
      color: $green;
    }

    &.points-change-negative {
      color: $red;
    }

    &.points-change-neutral {
      color: $darkerGray;
    }
  }

  .player-view-footer {
    display: flex;
    justify-content: flex-end;
  }
}
