@import "../../vars";

.player-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  color: $white;
  background-color: $jeopardyBlue;

  .answering-form {
    display: flex;
    flex-direction: column;

    .fake-guess,
    .submission-buttons {
      margin-top: 50px;
    }

    .fake-guess {
      display: flex;
      align-items: center;
    }

    .submission-buttons {
      display: flex;
      justify-content: space-between;
    }
  }

  .graded-answer {
    &.points-change-positive {
      color: $green;
    }

    &.points-change-negative {
      color: $red;
    }

    &.points-change-neutral {
      color: $darkerGray;
    }
  }

  .grading-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 10px;
  }

  .pregame-message {
    text-align: center;
    font-size: 2em;
    font-weight: 200;
  }

  .player-view-footer {
    display: flex;
    justify-content: flex-end;
  }
}
