body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Use the box model on everything (is generally simpler).
* {
  box-sizing: border-box;
}
// And apparently different browsers have different defaults for input box-sizing.
input {
  box-sizing: border-box;
}

/*

Project-wide z-index values (so it's never surprising what appears on top of what).

10: fullscreen clue
10: fullscreen submission summary
15: host controls

*/
